
<div class="container text-left mt-5 mb-5">
    <div class="row">

        <div class="col order-first">
            <h1 class="text-info">FACTURA</h1>
        </div>

        <div class="col">

        </div>

        <div class="col order-last">
            Fecha: {{fechaActual | date}} <br>
            Factura #: XXXX <br>
            Vence: {{fechaVence | date}} <br>
        </div>

    </div>
    
    <div class="row mt-4 mb-4">
        <div class="col-6">
            <b>Facturar a</b> <br>
            [Nombre Cliente] <br>
            [Nombre Empresa] <br>
            [Dirección Empresa] <br>
            [Teléfono Empresa]
        </div>

        <div class="col-6">
            <b>Enviar a</b> <br>
            [Nombre Cliente] <br>
            [Nombre Empresa] <br>
            [Dirección Empresa] <br>
            [Teléfono Empresa]            
        </div>
    </div>
</div>

<div class="container text-center mt-5 mb-5">
    <div class="row border border-dark border-bottom-0">
        <div class="col-3"><b>Vendedor</b></div>
        <div class="col-3"><b>Comprador</b></div>
        <div class="col-3"><b>Enviar por</b></div>
        <div class="col-3"><b>Términos y condiciones</b></div>
    </div>

    <div class="row border border-dark">
        <div class="col-3">Anónimo</div>
        <div class="col-3">#XXXX-2023</div>
        <div class="col-3">XXXX</div>
        <div class="col-3"><b>Pago al contado</b></div>
    </div>
</div>