
<div class="container text-left mt-5 mb-5">
    <div class="row align-items-start">
        <div class="col-1">
           <img src="assets/images/logo2.png" width="80px">
        </div>

        <div class="col-3">
            <b>Sistema Web S.A. de C.V.</b><br>
            234/90, New York Street <br>
            United States
        </div>

        <div class="col-4">
            Web: www.sistemasweb.la <br>
            E-mail: info@sistemasweb.com <br>
            Tel: +456-345-908-559 <br>
            Twitter: @sistemas_web2023
        </div>

        <div class="col-4">
            <b>Datos bancarios</b><br>
            Titular de la cuenta: Anónimo <br>
            IBAN: ES12345678901234567890 <br>
            BIC: BCESMADRIDXXX <br>
        </div>
  </div>
</div>